*.o
*.bin
*.img
*.exe
*.vvs
vvss
objdump.txt
elfdump.txt
qemu_debug_log.txt
serial_out.txt
build.log
hd_mount_dir/*
test_apps/build_temp/*
.vs/*
vs_scratch/*
VersionVVS*
obj/*
build/*